# FastAPI & Server
fastapi
uvicorn[standard]
python-dotenv
pydantic
pydantic-settings
websockets
langchain
langchain-core
langchain-community
langchain-groq
langchain-huggingface
langchain-chroma
langchain-classic
langchain-ollama
langgraph
sentence-transformers
chromadb
tiktoken
pypdf
reportlab
requests
aiohttp
google-generativeai
edge-tts
moviepy
pymupdf
